.app-name {
    padding-left: 18px;
    padding-right: 18px;
    padding-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-weight: 600;
    text-align: center;
  }

  .app-icon {
   padding-top: 10px;
   position: relative;
   top: 50%;
   left: 50%;
   height: 80%;
   display: block;
   transform: translate(-50%, -50%);
   
  }
  
  .footer{
    height: auto;
    position: inherit;
    text-align: center;
    font-style: italic;
   
  }