.swap-view-wait {
    width: 32px;
    max-width: 32px;
    margin: auto;
    margin-right: 10px;
}

.swap-view-button {
    width: 50px;
    max-width: 50px;
    margin: auto;
}
.swap-view-item-name {
    text-overflow: ellipsis;
}